.Input{
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-bottom: 2px solid #8d8d8d;
  font-size: 1.2rem;
  color: #2f2f2f;
  background-color: #fff;
  transition: all 0.3s ease;

  &:hover {
    border-color: #0033ff;
  }

  &:focus {
    outline: none;
    border-color: #2e8dc9;
  }
}
